root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true

[*.cs]
charset = utf-8-bom
indent_size = 4

[*.{xml,*proj,targets,props}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
